<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.snh.dao.DataUserMapper" >
  <resultMap id="BaseResultMap" type="com.snh.entity.DataUser" >
    <id column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="group_id" property="groupId" jdbcType="CHAR" />
    <result column="depname" property="depname" jdbcType="VARCHAR" />
    <result column="staffname" property="staffname" jdbcType="VARCHAR" />
    <result column="headimgurl" property="headimgurl" jdbcType="VARCHAR" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
    <result column="utime" property="utime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, openid, group_id, depname, staffname, headimgurl, ctime, utime, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from data_user
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from data_user
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.snh.entity.DataUser" >
    insert into data_user (user_id, openid, group_id, 
      depname, staffname, headimgurl, 
      ctime, utime, status
      )
    values (#{userId,jdbcType=BIGINT}, #{openid,jdbcType=VARCHAR}, #{groupId,jdbcType=CHAR}, 
      #{depname,jdbcType=VARCHAR}, #{staffname,jdbcType=VARCHAR}, #{headimgurl,jdbcType=VARCHAR}, 
      #{ctime,jdbcType=TIMESTAMP}, #{utime,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.snh.entity.DataUser" >
    insert into data_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="depname != null" >
        depname,
      </if>
      <if test="staffname != null" >
        staffname,
      </if>
      <if test="headimgurl != null" >
        headimgurl,
      </if>
      <if test="ctime != null" >
        ctime,
      </if>
      <if test="utime != null" >
        utime,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=CHAR},
      </if>
      <if test="depname != null" >
        #{depname,jdbcType=VARCHAR},
      </if>
      <if test="staffname != null" >
        #{staffname,jdbcType=VARCHAR},
      </if>
      <if test="headimgurl != null" >
        #{headimgurl,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="utime != null" >
        #{utime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.snh.entity.DataUser" >
    update data_user
    <set >
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=CHAR},
      </if>
      <if test="depname != null" >
        depname = #{depname,jdbcType=VARCHAR},
      </if>
      <if test="staffname != null" >
        staffname = #{staffname,jdbcType=VARCHAR},
      </if>
      <if test="headimgurl != null" >
        headimgurl = #{headimgurl,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="utime != null" >
        utime = #{utime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.snh.entity.DataUser" >
    update data_user
    set openid = #{openid,jdbcType=VARCHAR},
      group_id = #{groupId,jdbcType=CHAR},
      depname = #{depname,jdbcType=VARCHAR},
      staffname = #{staffname,jdbcType=VARCHAR},
      headimgurl = #{headimgurl,jdbcType=VARCHAR},
      ctime = #{ctime,jdbcType=TIMESTAMP},
      utime = #{utime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <select id="selectByOpenid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from data_user
    where openid = #{openid,jdbcType=VARCHAR}
  </select>
</mapper>